#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(196, 196, 196);
}

a {
  text-decoration: none;
  color: rgb(228, 217, 217) !important;
}

h1{
  font-size: 3em;
  color: rgb(216, 199, 177);
  padding: 15px;
}

.containerhome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(97, 71, 71);
}

.containerFavoritas{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgb(97, 71, 71);
  height: 100vh;
}

.style404 {
  height: 100vh;
  background-image: url("./assets/images/pngwing.com.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}


